.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: var(--color-font-black);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    margin-top: 5rem;

    img {
      border-radius: 50%;
      border: 1px solid var(--color-border);

      @media screen and (min-width: 980px) {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__name {
    @media screen and (min-width: 980px) {
      margin: 20px;
    }

    span {
      font-weight: bold;
      font-size: 2rem;

      @media screen and (min-width: 980px) {
        font-size: 3.5rem;
      }
    }
  }
}

.body__text {
  text-align: center;
  line-height: 3.5rem;
}

.body__sns {
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;

  &-instagram {
    width: 50px;
  }

  &-twitter {
    width: 50px;
  }
}
