$space-size: 2.5rem;
$card-width: 350px;

.wrapper {
}

.container {
  max-width: calc(calc($card-width * 4) + calc($space-size * 3));
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $space-size;
}

.pagination {
  margin: 4rem 0;
  padding: 2rem;
  border-top: var(--color-border) 1px solid;
}
