$space-size: 18px;
$card-width: 452px;

.wrapper {
  padding: 0.5rem;
  background-color: var(--color-background);

  @media screen and (min-width: 980px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container {
  max-width: calc(calc($card-width * 4) + calc($space-size * 3));
}

.blog__information {
  display: none;

  @media screen and (min-width: 980px) {
    width: 100%;
    display: contents;
    text-align: center;
    background-color: orange;
  }

  &__message {
    font-size: 2.3rem;
    line-height: 4.5rem;
    color: var(--color-font-black);
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $space-size;
}

.pagination {
  margin: 4rem 0;
  padding: 2rem;
}
