.card__tags__item {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: solid 1px var(--color-border);
  background-color: var(--color-tag-background);

  &:hover {
    cursor: pointer;
    background-color: var(--color-tag-background-hover);
  }
}
