$card-max-width: 400px;

.card {
  width: 100%;
  color: var(--color-card-font);
  border-radius: 0.75rem;
  border: solid 1px var(--color-border);
  background-color: var(--color-card-background);

  @media screen and (orientation: landscape) {
    width: $card-max-width;
  }

  @media screen and (min-width: 980px) {
    width: $card-max-width;
  }
}

.card__header {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 0.75rem 0.75rem 0 0;
  border-bottom: solid 1px var(--color-border);

  @media screen and (min-width: 980px) {
    height: calc($card-max-width / 1.91);
  }
}

.card__thumbnail {
  padding: 0;
  margin: 0;

  img {
    background-color: #f1f9ff;
    border-radius: 0.75rem 0.75rem 0 0;
  }
}

.card__body {
  padding: 1rem;
}

.card__date {
  color: #656565;
  font-size: 1.5rem;
}

.card__title {
  font-size: 1.6rem;
  margin: 1.2rem 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  h2 {
    margin: 0;
  }
}

.card__description {
  font-size: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.card__link__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2.3rem;
}

.card__link__button--inner {
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  border: solid 1px var(--color-border);

  span {
    font-size: 1.5rem;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--color-card-more-read-hover);
  }
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}
