.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (min-width: 980px) {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
  }
}

.article {
  width: 100%;

  @media screen and (min-width: 980px) {
    max-width: 800px;
  }
}

.aboutMe {
  width: 100%;

  @media screen and (min-width: 980px) {
    max-width: 300px;
  }
}

.article__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article__date {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #494949;
}

.article__title {
  width: 100%;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: bold;
  margin-bottom: 2rem;

  @media screen and (min-width: 980px) {
    max-width: 650px;
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

.article__categories {
  display: flex;
  flex-wrap: wrap;
}

.article__categories__item {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: solid 1px var(--color-border);
  background-color: var(--color-brand);

  &:hover {
    cursor: pointer;
    background-color: #b4dbe3;
  }
}

.article__body {
  font-size: 1.7rem;
  line-height: 2.4rem;
}
