:root {
  // Brand Colors
  --color-brand: #94c2fb;
  --color-background: #d3e9f8;
  --color-border: #a1b2bd;
  --color-font: #151529f9;

  // Neutral Colors
  --color-deep-blue: #151529f9;
  --color-blue: #7ab8e4f9;
  --color-gray: #a0a0a0;
  --color-light-white: #fff;
  --until-tablet-font-size: 56.25%;
  --from-desktop-font-size: 62.5%;
}

html {
  @media screen and (width <= 980px) {
    font-size: var(--until-tablet-font-size);
  }

  @media screen and (width >= 980px) {
    font-size: var(--from-desktop-font-size);
  }
}

body {
  background: var(--color-background);
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
