pre {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

p,
div {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.article-link:after {
  padding: 0 0 0 0.2rem;
  display: inline-block;
  margin-right: 3px;
  width: 1rem;
  content: url("/link-icon.svg");
}

.quote {
  font-weight: bold;
}

.quote span {
  display: inline-block;
  padding: 0 3rem;
  font-size: 1.7rem;
  border-radius: 0.75rem 0.75rem 0px 0px;
  background-color: var(--color-post-quote);
}

.line {
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 1.5rem;
}

.image {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.big-bold {
  font-weight: bold;
  font-size: 2.1rem;
}

.emphasis-link {
  color: rgb(251, 121, 28);
}

.emphasis {
  color: rgb(251, 69, 28);
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.filepath {
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  font-style: italic;
  padding: 1px 3px;
  font-weight: bold;
  border: 1px solid rgb(204, 204, 204);
}

.description__head {
  display: inline-block;
  padding: 0 3rem;
  font-weight: bold;
  font-size: 2.1rem;
  border: 1px solid var(--color-post-quote);
  border-radius: 0.75rem 0.75rem 0px 0px;
  background-color: var(--color-post-quote);
}

.description__body {
  padding: 1.2rem;
  background-color: var(--color-post-description);
  border: 1px solid var(--color-post-quote);
  border-radius: 0px 0.75rem 0.75rem 0.75rem;
}
