pre {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

p {
  margin: 0;
}

.article-link:after {
  padding: 0 0 0 0.2rem;
  display: inline-block;
  margin-right: 3px;
  width: 1rem;
  content: url("/link-icon.svg");
}

.quote {
  margin-top: 1.5rem;
}

.quote span {
  display: inline-block;
  padding: 0 3rem;
  font-size: 1.7rem;
  border-radius: 0.75rem 0.75rem 0px 0px;
  background-color: var(--color-post-quote);
}

.image {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.big-bold {
  font-weight: bold;
  font-size: 2.1rem;
}

.emphasis-link {
  color: rgb(251, 121, 28);
}

.emphasis {
  color: rgb(251, 69, 28);
}
